body{
    background-color:#f1f1ff;
}
.options-item{

    width:100%;
    margin-bottom: 10px;
    height:30px;
    line-height:30px;
}
.custom-option-item{
    width:74.4%;
}
.custom-option-submit{
    width:25%;
}
.list>ul>li{
    width:100%;
    margin-bottom: 10px;
    background-color:#d3d3d3;
    text-align:center;
    height:30px;
    line-height:30px;
}
.list>ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.add-poll{
    font-size:2em;
}